<div class="test">
  This module demonstrates the usage of standard data values:<br>
  <table>
    <tr>
      <td>exampleValue1</td>
      <td>{{exampleValue1}}</td>
    </tr>
    <tr>
      <td>exampleValue2</td>
      <td>{{exampleValue2}}</td>
    </tr>
    <tr>
      <td>subvalue 1A</td>
      <td>{{exampleObject1.subValueA}}</td>
    </tr>
    <tr>
      <td>subvalue 1B</td>
      <td>{{exampleObject1.subValueB}}</td>
    </tr>
    <tr>
      <td>subvalue 2A</td>
      <td>{{exampleObject2.subValueA}}</td>
    </tr>
    <tr>
      <td>subvalue 2B</td>
      <td>{{exampleObject2.subValueB}}</td>
    </tr>
  </table>
</div>