{% macro sprite(id, viewBox, classes) %}
  {% set viewBox = viewBox or "0 0 1 1"%}
  <span class='sprite -{{id}} {{classes}}'>
    <svg viewBox="{{viewBox}}"><use xlink:href='images/sprites.svg#{{id}}' /></use></svg>
  </span>
{% endmacro %}